<div class="providers-row">
  <div class="row first-row">
    <h3>Data providers</h3>
  </div> 
  
  <div class="row second-row">
    <div class="medium-6 providers" *ngFor="let dataRec of dataProviders" style="padding-bottom:80px">
      <span *ngFor="let dataProvider of dataRec">
        <a href="{{dataProvider.url}}" target="_blank" style="text-decoration:none !important;">
          {{dataProvider.name}}
          <i class="icon icon-common" data-icon="&#xf0a9;"></i>
        </a><br />
      </span>
    </div>
  </div>
</div>

