.providers-row {
  max-width: 100%;
}

.providers {
  float: left !important;
}

.providers a {
  font-size: 14px !important;
}

.provider {
  margin-bottom: 10px;
}

.providers a {
  text-decoration: none;
  border-bottom: #085F5C 1px solid !important;
  color: #085F5C;
  font-weight: bold;
}

.providers a:hover {
  border-bottom: #ffae00 2px solid !important;
  color: #ffae00;
}

.providers-row {
  background-color: #FFF3D8;
  padding-top: 40px;
}

.no-left-padding {
  padding-left: 0 !important;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 25px;
}
