.providers-row {
  max-width: 100%;
  background-color: #FFF3D8;
  padding-top: 40px;
  padding-bottom: 80px;
}

.first-row{
  padding-left: 10px; 
  margin-bottom: 30px;
}

.second-row{
  padding-left: 10px; 
  display: flex;
}

.providers {
  float: left !important;
}

.provider {
  margin-bottom: 10px;
}

.providers span a {
  text-decoration: none;
  color: #056643;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 37px;
  border-bottom-style: none;
}

.vf-section-header__heading--is-link:hover {
  color: #0A5032;
  text-decoration: underline !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

h3 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 37px;
  /* or 88% */
  color: #0A0A0A;
}

@media screen and (max-width: 39.9375em) {
  .providers-row {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .second-row{
    padding-left: 10px; 
    display: block;
  }
  .last-provider {
    padding-bottom: 0px;
  }
  .provider-name {
    width: 100%
  }
}

@media (min-width: 40em) and ((max-width: 49em) or (max-width: 51.25em)) {
  .providers-row {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .second-row{
    padding-left: 10px; 
    display: block;
  }
  .last-provider {
    padding-bottom: 0px;
  }
  .provider-name {
    width: 100%
  }
}

