.providers-row {
  max-width: 100%;
}

.providers {
  float: left !important;
}

.providers a {
  font-size: 14px !important;
}

.provider {
  margin-bottom: 10px;
}

.providers a {
  text-decoration: none;
  border-bottom: none;
  color: #47547E;
  font-weight: bold;
}

.providers a:hover {
  border-bottom: #ffae00 1px solid !important;
  color: #ffae00;
}

.providers-row {
  background-color: #FFF3D8;
  margin-top: 40px;
  padding-top: 20px;
}

.no-left-padding {
  padding-left: 0 !important;
}
