h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}
h2,h3,p,div,span,a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
}
.viewer-row {
    margin-right: 15px !important;
    max-width: unset !important;
}

.title-container{
    text-align: left;
}

.last-container{
    margin-bottom: 52px;
}

.error-row {
    margin-top: 30px;
}

.warning-red {
    color: rgb(211, 74, 57);
}


a {
    color: #056643; 
    border-bottom: none;
}

a:hover{
    color: #056643;
    text-decoration: underline!important;
}

.title-container{
    margin-top: 32px;
    margin-bottom: 28px;
    text-align: left;
}

.progress-text1 {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
}

.msg_bullets {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    margin-left: 30px;
}

.message-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
}

.subtitle-heading {
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
    font-size: 16px;
    color: #54585A;
}

.error-container {
    margin-top: 32px;
    margin-bottom: 83px;
}

.mobile-view-copy{
    float:right;
    display:none;
}

.cardhr {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D0D0CE;
}

.lastcard {
    padding-bottom: 32px;
}

.paginatelast {
    padding-bottom: 50px;
    margin-left:20px;
    float:left !important;
}

.card_title {
    color: #056643;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    padding-top: 16px;
}
.card_subtitle{
    color: #54585A;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}

.info-box-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}

.info-box-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
}

.middle_row {
    padding-top:16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 39.9375em) {
    .mobile-view-copy{
        float:right;
        display:block;
    }
    .mobile-view-second{
        display:none;
    }
}

