<div class="row viewer-row" *ngIf="resultData">
    <p class="display-label-text">
      Structure <span class="name-text">{{displayedEntry}}</span>
    </p>
    <p class="functional-download-icon">
      Download mmCIF <a download target="_blank" href="{{displayedEntryUrl}}" class="download-link">
      <i class="icon icon-common icon-download-alt functional-download-icon" data-icon="&#xf06e;"></i></a>
    </p>
    <!-- <p id="display-label">
      Now displaying structure <span class="display-label-text">{{displayedEntry}}</span>.
      Click to download: <a download target="_blank" href="{{displayedEntryUrl}}">
      <i class="icon icon-common icon-download functional-download-icon" data-icon="&#xf06e;"></i></a>
    </p> -->
    <div *ngIf="help">
      <p>
        Please click on the <i class="icon icon-common example-icon" data-icon="&#xf06e;"></i>
        eye icon on the sequence feature viewer below to display another structure.
      </p>
      <p>You can also download other structures by clicking on the
        <i class="icon icon-common icon-download example-icon" data-icon="&#xf06e;"></i> icons
        on the sequence feature viewer below.
      </p>
    </div>
</div>

<div class="row viewer-row">
    <div id="molstar-container" class="small-12 medium-12 molstar-container"></div>
    <div class="appPvContainer pvc-container"></div>
</div>

