#display-label {
  text-align: left;
  font-size: 1.25em;
}

.display-label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.name-text{
  font-weight: bold;;
}

.eye-icon{
  background-color: #dff1f0;
  padding: 5px;
  border: 1px solid black
}

.functional-download-icon {
  color: #056643;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.example-icon {
  background-color: #dff1f0;
  padding: 2px;
  border: 1px solid black
}

.functional-download-icon:hover {
  color: #056643;
}

.download-link{
  text-decoration: none;
  border-bottom: none;
}

.help-link {
  font-weight: 500;
  color: #0F5C5A;
  text-decoration: none;
  border-bottom: none;
  font-size: smaller;
}

.help-link:hover {
  color: #ffae00;
  border-bottom: 1px solid #ffae00;
}

.molstar-container {
  float: left;
  height: 377px;
  margin-bottom: 15px;
  position: relative;
}

.viewer-row {
  margin-right: 15px !important;
  margin-left: 138px !important;
  max-width: unset !important;
}
