<header class="masthead" class="masthead compact-for-data">
  <div class="row header-row">
    <div class="columns header-row-col">
      <div class="columns small-7 logo-wrapper">
          <img src="./assets/img/3D-Beacons-logo 2.png" alt="Image" class="logo-img" height="68px">
          <div class="logo-title" style="margin-left:16px;">
            <a routerLink="/"><img src="./assets/img/PDBe-KB-logo.png" alt="Image" height="16px"></a>
            <a routerLink="/"><h1 class="main-title"> 3D - Beacons Network </h1></a>
          </div>
        
          <svg class="mobile-menu-icon" viewBox="0 0 24 24" *ngIf="!menuOpen" (click)="toggleMenu()">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>

          <svg class="mobile-menu-icon" viewBox="0 0 24 24" *ngIf="menuOpen" (click)="toggleMenu()">
            <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
          </svg>
      </div>
     
      <div class="columns small-7 mobile-wrapper" *ngIf="menuOpen">
        <nav style="Margin-top:38px">
          <ul class="dropdown menu float-left" data-description="navigational">
            <li><a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" id="home-link">Home</a></li>
            <li><a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api/" target="_blank" class="nav-text">API</a></li>
            <li><a routerLink="/docs" routerLinkActive="active">Documentation</a></li>
            <li><a routerLink="/guidelines" routerLinkActive="active">Collaboration</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
  <app-search-header></app-search-header>
</header>