.summary-boxes {
  margin-bottom: 50px;
}

.summary-box {
  float: left !important;
  height: 265px;
  width: 19.66% !important;
}

.summary-box i {
  font-size: 6em;
}

@media screen and (max-width: 39.9375em) {
  .summary-box i {
    font-size: 4em;
  }
  .summary-box {
    height: 220px;
  }
  .summary-boxes {
    margin-bottom: 25px;
  }
}

.summary-label {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
}
