
.summary-box {
  float: left !important;
  width: 19.66% !important;
  text-align: center;
}

.summary-box i {
  font-size: 6em;
}

@media screen and (max-width: 39.9375em) {
  .summary-box i {
    font-size: 4em;
  }
  .summary-box {
    height: 220px;
  }
  .summary-boxes {
    margin-bottom: 25px;
  }
  .summary-box {
    width: 50% !important;
  }
}

@media print, screen and (min-width: 40em){
  .summary-box {
    width: 35% !important;
  }

  .summary-boxes {
    display: flex;
  }
}

.summary-label {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
}
