<div class="row docs-row">
  <div class="large-8 large-offset-2 medium-offset-1 medium-8 small-12 docs-text-title columns">
    <h1>Guidelines for Collaborating</h1>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>Introduction</h2>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <p>3D-Beacons is an open collaboration between providers of macromolecular structure models. This collaboration aims
      to provide model coordinates and meta-information from all the contributing data resources in a standardised data
      format and unified platform.</p>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>Terms of Collaboration</h2>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h3>PDBe-KB</h3>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <ol>
      <li>PDBe-KB will maintain data exchange format schema(s)</li>
      <li>The schema will evolve in consultation with partner data resources</li>
      <li>PDBe-KB will support the infrastructure for the 3D-Beacons Hub and Registry</li>
      <li>The 3D-Beacons Hub will provide programmatic access to models of partner data resources</li>
      <li>
        The 3D-Beacons Hub will link back to the partner data resources,
        transparently attributing credit for their contributions
      </li>
      <li>PDBe-KB will maintain an open-access library of reusable data visualisation components</li>
      <li>
        PDBe-KB and the collaborating partners define a transparent ranking of the models based on agreed criteria
      </li>
    </ol>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h3>Collaborating partners</h3>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <ol>
      <li>The data contributed to 3D-Beacons by collaborating partners will be free from any restrictions on
        distribution and re-use under the
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> license or
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY SA 4.0</a>.
      </li>
      <li>The partners are responsible for the quality of the data they contribute</li>
      <li>Protocols for data generation of theoretical models must be published in peer-reviewed publications</li>
      <li>The partners commit to updating the API implementations within two months of announcing major version updates
        of the API specification.
        <ol>
          <li>The API specification uses semantic versioning, e.g. v.1.3.9, where 1. is the major version, 3. is the
            minor version and 9. is a patch.
          </li>
          <li>The Hub API will aggregate the current (live) <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api">API
            endpoints</a>.
          </li>
          <li>The development Hub API will test the development <a
            href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api">API endpoints</a>.
          </li>
        </ol>
      </li>
      <li>The partners commit to keeping Beacon API response times under 2 seconds for pre-calculated data.
        <ol>
          <li>The 3D-Beacons Hub API enforces a 5 seconds timeout, i.e. Beacons not returning data within 5 seconds will
            not have their data exposed.
          </li>
          <li>New partner resources will have their API stress-tested by PDBe-KB.</li>
        </ol>
      </li>
    </ol>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h3>Technical details</h3>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    See <a routerLink="/docs">the Documentation</a> page for the technical description of the infrastructure
  </div>
</div>

<app-providers></app-providers>

