<div class="row docs-row">
  <div class="large-8 large-offset-2 medium-offset-1 medium-8 small-12 docs-text-title columns">
    <h1>Guidelines for Collaborating</h1>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>Introduction</h2>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <p>3D-Beacons is an open collaboration between providers of macromolecular structure models. This collaboration aims
      to provide model coordinates and meta-information from all the contributing data resources in a standardised data
      format on a unified platform.</p>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>Terms of Collaboration</h2>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <p>The terms below set out the guidelines for the collaboration between data providers of 3D-Beacons.
      The terms will be reviewed annually at the Annual General Meetings.</p>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h3>3D-Beacons Hub</h3>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <ul>
      <li>The Velankar team will maintain the 3D-Beacons Hub API infrastructure for data aggregation and programmatic
        access at EMBL-EBI.
      </li>
      <li>The Velankar team will maintain data exchange format schema(s) in a public repository on GitHub.</li>
      <li>The schema will evolve in consultation with collaborating partners.</li>
      <li>The 3D-Beacons Hub will provide programmatic access to expose data from all the collaborating partner
        resources.
      </li>
      <li>3D-Beacons Consortium will always clearly attribute credit for the contributions of data providers.</li>
      <li>The 3D-Beacons Hub will perform periodic checks to see which 3D-Beacons are online. It will notify those who
        are inaccessible through a predefined email address.
      </li>
    </ul>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h3>Collaborating partners</h3>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <ul>
      <li>The data provided will be freely available for academic and commercial use under Creative Commons Attribution
        4.0 (CC-BY 4.0) license terms.
      </li>
      <li>Data providers are responsible for the quality of the data they contribute and should provide quality metrics
        as part of their data. For theoretical models, a confidence measure is required according to the types supported
        in the API specification (can be extended in accordance with the 3D-Beacons Consortium).
      </li>
      <li>Data providers must provide an email address as the contact point. The 3D-Beacons Hub will send a notification
        to this email address in case of problems with data access.
      </li>
      <li>Data providers must provide metainformation for their models, including but not limited to the date of
        creation and the version of the underlying protein sequence.
      </li>
      <li>Data providers must provide example accessions (e.g. UniProt accessions) which will always point to existing
        models.
      </li>
      <li>Data providers must ensure that their API endpoints, if serving pregenerated data, have response rates lower
        than 10 seconds.
      </li>
      <li>Data providers are encouraged to indicate at their services that they are parts of the 3D-Beacons Network,
        either by displaying the logo or a URL https://3d-beacons.org
      </li>
      <li>Active data providers are required to attend annual 3D-Beacons Network meetings.</li>
      <li>The protocols for model or structure generation must have associated peer-reviewed publications.</li>
      <li>In the case of databases, the database must have a corresponding peer-reviewed publication.</li>
      <li>In the case of models generated as part of a study, it is strongly encouraged to have a peer-reviewed
        publication that describes both the methodology and the usage.
      </li>
      <li>The 3D-Beacons Network will remove inaccessible 3D-Beacons after six months of inaccessibility.</li>
      <li>Data providers can settle any potential disputes through direct communication with the leaders of 3D-Beacons
        or by bringing the dispute to the annual general meeting.
      </li>
    </ul>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>General Data Protection Regulation (GDPR) notice</h2>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <p>The 3D-Beacons Network collects no personal data from the contributing data providers, except for nominated email
      addresses that will serve the sole purpose of contact points in case of technical issues (e.g. when a 3D-Beacon
      server is inaccessible).
      Contributing data providers are responsible for implementing and following their own GDPR policies.
    </p>
  </div>
</div>

<div class="row docs-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 docs-text-title columns">
    <h2>Technical details</h2>
  </div>
  <div class="large-5 medium-6 small-12 docs-text columns">
    <p>See <a routerLink="/docs">the Documentation</a> page for the technical description of the infrastructure</p>
  </div>
</div>

<app-providers></app-providers>

