<div *ngIf="resultData">
  <h3 class="search-title">Search results for {{job_id}}</h3>
</div>

<div *ngIf="!error">
  <table mat-table [dataSource]="tableSource" class="mat-elevation-z8">

    <ng-container matColumnDef="accession">
      <th mat-header-cell *matHeaderCellDef> Accession</th>
      <td mat-cell *matCellDef="let element"><a target="_blank" routerLink="/search/{{element.accession}}">{{element.accession}}</a></td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="struct_count">
      <th mat-header-cell *matHeaderCellDef> Available structures</th>
      <td mat-cell *matCellDef="let element">{{element.summary.structures.length}}</td>
    </ng-container>

    <ng-container matColumnDef="hsp_align_length">
      <th mat-header-cell *matHeaderCellDef> HSP Align Length</th>
      <td mat-cell *matCellDef="let element">{{element.hit_hsps[0].hsp_align_len}}</td>
    </ng-container>

    <ng-container matColumnDef="hsp_identity">
      <th mat-header-cell *matHeaderCellDef> HSP Identity</th>
      <td mat-cell *matCellDef="let element">{{element.hit_hsps[0].hsp_identity}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" aria-label="Select page">
  </mat-paginator>
</div>

<app-loading-dialog *ngIf="isFetching"></app-loading-dialog>

<div *ngIf="error" class="row error-row">
  <div class="small-12 columns">
    <h3 class="warning-red">{{error}}</h3>
    <h5 *ngIf="waiting" class="warning-red">Please keep this link to check the results later <a routerLink="/sequence/{{job_id}}" class="search-example">{{job_id}}</a></h5>
  </div>
</div>