h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}
  
h2,h3,p,div,span,a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
}

a {
    color: #056643; 
    border-bottom: none;
}

a:hover{
    color: #056643;
    text-decoration: underline!important;
}

.title-container{
    margin-top: 32px;
    margin-bottom: 28px;
    text-align: left;
}

.progress_tile {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
}

.progress-text1 {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    margin-bottom: 0px;
}

.progress-text1 a{
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
}
  
  
.progress-text2 {
    margin-top: 38px;
    font-size: 21px;
    font-weight: 500;
    line-height: 27.3px;
}

.progress-text3 {
    display: flex;
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.6px;
}
.progress-suggestions {
    word-break: break-all;
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    margin-bottom: 8px;
  }

.progress-text4 {
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.6px;
}

.progress-text5 {
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.6px;
}

.subtitle-heading {
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
    font-size: 16px;
    color: #54585A;
}

.error-container {
    margin-top: 32px;
    margin-bottom: 83px;
}

.mobile-view-copy{
    float:right;
    display:none;
}

.lastcard {
    padding-bottom: 32px;
}

.cardhr {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D0D0CE;
}

.paginatelast {
    padding-bottom: 50px;
    margin-left:20px;
    float:left !important;
}

.label-tooltip-seq {
    position: relative;
}

.label-tooltip-seq .label-tooltip-seq-text {
    visibility: visible;
    background-color: white;
    border-radius: 0px;
    color: #000;
    
    font-family: "IBM Plex Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.5px; 
    padding: 4px 8px; 
    width:102px;

    text-align: left;
    position: absolute;
    z-index: 1;
    top: -9px;
    left: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label-tooltip-seq .label-tooltip-seq-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.label-tooltip-link {
    position: relative;
}

.label-tooltip-link .label-tooltip-link-text {
    visibility: visible;
    background-color: white;
    border-radius: 0px;
    color: #000;
    
    font-family: "IBM Plex Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.5px; 
    padding: 4px 8px; 
    width:73px;

    text-align: left;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label-tooltip-link .label-tooltip-link-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.label-tooltip-link:hover .label-tooltip-link-text {
    visibility: visible;
}

.label-tooltip {
    position: relative;
    /*display: inline-block;*/
  }
  
  .label-tooltip .label-tooltip-text {
    visibility: visible;
    border-radius: 0px;
    background-color: white;
    color: #0a0a0a;
    text-align: left;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.5px; 
    padding: 4px 8px; 

    position: absolute;
    z-index: 1;
    top: -35px;
    left: 140px;
    width:103px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .label-tooltip .label-tooltip-text::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
  .label-tooltip:hover .label-tooltip-text {
    visibility: visible;
  }
@media screen and (max-width: 39.9375em) {
    .mobile-view-copy{
        float:right;
        display:block;
    }
    .mobile-view-second{
        display:none;
    }
    h3 {
        width: 94%;
        word-wrap: break-word;
    }
    
    .label-tooltip-seq .label-tooltip-seq-text{
        top: 26px;
        left: -120px
    }
    .label-tooltip-seq .label-tooltip-seq-text{
        top: 26px;
        left: -120px
    }
    .label-tooltip .label-tooltip-text{
        top: 26px;
        left: -120px
    }
}

/* mobile */
@media (min-height:896px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 503px;
    }
}

/* tablet1 */
@media (min-height:1024px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 264px;
    }
}


/* normal */
@media (max-height:1440px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 501px;
    }
}

/* tablet2 */
@media (max-height:1180px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 421px;
    }
}

/* ipadpro */
@media (min-height:1366px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 624px;
    }
}

/* normal */
@media (max-height:1080px){
    .error-container {
        margin-top: 32px;
        margin-bottom: 83px;
        min-height: 330px;
    }
}
