h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}
  
h2,h3,p,div,span,a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
}

a {
    color: #056643; 
    border-bottom: none;
}

a:hover{
    color: #056643;
    text-decoration: underline!important;
}

.title-container{
    margin-top: 32px;
    margin-bottom: 28px;
    text-align: left;
}

.progress_tile {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
}

.progress-text1 {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
}

.progress-text1 a{
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
}
  
  
.progress-text2 {
    margin-top: 38px;
    font-size: 21px;
    font-weight: 500;
    line-height: 27.3px;
}

.progress-text3 {
    display: flex;
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.6px;
}

.progress-text4 {
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.6px;
}

.progress-text5 {
    word-break: break-all;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.6px;
}

.subtitle-heading {
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
    font-size: 16px;
}

.error-container {
    margin-top: 32px;
    margin-bottom: 83px;
}

.mobile-view-copy{
    float:right;
    display:none;
}

.lastcard {
    padding-bottom: 32px;
}

.cardhr {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.paginatelast {
    padding-bottom: 80px;
    margin-right:-20px;
}

@media screen and (max-width: 39.9375em) {
    .mobile-view-copy{
        float:right;
        display:block;
    }
    .mobile-view-second{
        display:none;
    }
}

