<div class="row title-container" *ngIf="!is_searchprogress && !is_noresult && !showErrorNoJobid && job_id">
  <div class="small-12 columns">
    <h3>
      Search results for job ID  {{job_id}}
    </h3>
    <h4 *ngIf="card_data_length > 1" class="subtitle-heading">BLASTP - {{card_data_length}} results found in UniProtKB</h4>
    <h4 *ngIf="card_data_length === 1" class="subtitle-heading">BLASTP - {{card_data_length}} result found in UniProtKB</h4>
  </div>
</div>

<div *ngIf="!is_searchprogress && cardData">
  <div *ngFor="let card of cardDataChunk; let indexOfelement=index;">
    <app-sequence-cards [res]="card"></app-sequence-cards>
    <div class="row" [ngClass]="indexOfelement < cardDataChunk.length - 1 ? '' : 'lastcard'">
      <div class="small-12" *ngIf="indexOfelement < cardDataChunk.length - 1">
          <hr class="cardhr">
      </div>
    </div>
  </div>
  <div class="paginatelast medium-10">
    <app-search-pagination [(paginationData)]="paginationData" (selectedPage)="paginateTo($event)"
    (resPerPage)="updatePerPageVal($event)"></app-search-pagination>
  </div>
</div>

<div *ngIf="message && is_noresult" class="row error-container">
  <div class="small-12 columns">
    <h3 class="progress_tile">
      {{message}} 
    </h3>
    <p class="progress-text1">We ran the search with BLASTP and couldn’t find any matches in UniProt KB. 
     
    <h4 class="progress-text2">Search details</h4>
    <p class="progress-text4">
      <span>Sequence query:</span>
      <span class="mobile-view-copy"><a (click)="copyToClipboard(localStorageSearchTerm)">Copy sequence <i class="icon icon-common icon-copy"></i></a></span>
    </p>
    <p class="progress-text3">
        <span>
          {{localStorageSearchTerm}}
        </span>
    </p>
    <p class="mobile-view-second">
      <a (click)="copyToClipboard(localStorageSearchTerm)">
      Copy sequence
      <i class="icon icon-common icon-copy"></i>
      </a>
    </p>
    <p class="progress-text5">
        For more information on the search parameters, please visit the  
        <a href="" target="_blank">
          EBI sequence similarity search page.
        </a>
    </p>
  </div>
</div>

<div *ngIf="is_searchprogress" class="row error-container">
  <div class="small-12 columns">
    <h3 class="progress_tile">
      Search in progress
      <img src="assets/img/Loader-ALPHA.gif" width="30px" height="30px">
    </h3>
    <p class="progress-text1">It usually takes 5-10 minutes to run a sequence search, please come back later. 
      <br/> <a (click)="copyLink()">Copy the link to results <i class="icon icon-common icon-copy"></i></a> to save it and view the results at a convenient time.</p>
    <h4 class="progress-text2">Search details</h4>
    <p class="progress-text4">
      <span>Sequence query:</span>
      <span class="mobile-view-copy"><a (click)="copyToClipboard(localStorageSearchTerm)">Copy sequence <i class="icon icon-common icon-copy"></i></a></span>
    </p>
    <p class="progress-text3">
        <span>
          {{localStorageSearchTerm}} 
        </span>
    </p>
    <p class="mobile-view-second">
      <a (click)="copyToClipboard(localStorageSearchTerm)">
      Copy sequence
      <i class="icon icon-common icon-copy"></i>
      </a>
    </p>
  </div>
</div>

<div *ngIf="message && showErrorNoJobid" class="row error-container">
  <div class="small-12 columns">
    <h3 class="progress_tile">
      {{message}}
    </h3>
    <p class="progress-text1">Something went wrong on our side. We are sorry for the inconvenience it may have caused. </p>
    <p class="progress-suggestions">Suggestions:</p>
    <ul class="msg_bullets">
      <li>Please wait and try again later.</li>
      <li>Check your Internet connection.</li>
    </ul>
  </div>
</div>