h2,h3,a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
}

a {
    color: #056643; 
    border-bottom: none;
}

a:hover{
    color: #056643;
    text-decoration: underline!important;
}

.cardhr {
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.card_title {
    color: #056643;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    padding-top: 16px;
}

.card_subtitle{
    color: #54585A;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}

.info-box-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}

.info-box-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
}

.middle_row {
    padding-top:16px;
    margin-bottom: 16px;
}

.sequence_row{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    background-color: #F3F3F3;
    width: 950px;
}
.sequence_match_lable_first{
    color: #1A1C1A;
    font-size: 14px;
    font-weight: 500;
    line-height: 27.2px;
    padding-left: 0px;
    margin-right: 7px;
    width:18%;
}
.sequence_match_lable {
    color: #1A1C1A;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.2px;
    width:19%
}

.sequence_stat_lable {
    color: #1A1C1A;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.2px;
    width:100%;
    padding-bottom:3px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
}
.sequence_match_lable span{
    font-weight: 500;
}

.sequence_match_lable_last {
    color: #1A1C1A;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.2px;
    width: 25%
}
.sequence_match_lable_last span{
    font-weight: 500;
}

.stats_container {
    display:flex;
    width: 80%;
    padding-left: 2px !important;
}

.sequence_container {
    width: 100%;
    padding-left: 2px;
    background-color: #F3F3F3;
}

.sequence_right {
    border-right: 1px solid #D0D0CE;
    padding-right: 20px;
}

.sequence_stats_container {
    width: 23%;
    padding-left: 20px;
    background-color: #F3F3F3;
}
.sequence_row_second{
    padding-bottom:16px;
    margin-left:16px;
    background-color: #F3F3F3;
    width: 950px;
    display: flex;
}

.sequence_stat_query {
    color: #1A1C1A;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.2px;
    padding-bottom: 3px;
    width: 89px;
    margin-right:12px;
}
.sequence_stat_num{
    width: 39px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
    text-align: right;
}
.sequence_query{
    padding-right:10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'IBM Plex Mono' !important;
    font-style: normal;
    display: flex;
}
.sequence_query_length{
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    width: 39px;
}

.showMoreLink{
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
}

.showicon {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    margin-left: -4px;
  }
  
a {
    color: #056643; 
    border-bottom: none;
}

a:hover{
    color: #056643;
    text-decoration: underline!important;
}

.columns:last-child:not(:first-child) {
    float: left;
}