<div>
  <header id="masthead" class="masthead compact-for-data">
    <div class="masthead-inner row expanded">
      <div class="padding-left-large small-12" id="local-title">
        <a routerLink="/">
          <img src="./assets/img/3d-beacons-logo-transparent.png" alt="Image" style="width: 50px; float: left">
        </a>
        <h1 id="main-title">3D-Beacons Network</h1>
      </div>
    </div>
    <div class="row expanded">
      <nav class="float-left columns">
        <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
          <li><a routerLink="/">Home <i class="icon icon-common icon-home"></i></a></li>
          <li><a routerLink="/search">Search <i class="icon icon-common icon-search"></i></a></li>
          <li><a href="https://github.com/3D-Beacons/3d-beacons-documentation/wiki">
            Documentation <i class="icon icon-common icon-external-link-alt"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
<div id="content">
  <section id="main-content-area" class="row expanded" role="main">
    <div class="columns">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </section>
</div>
