h3 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

h2,h3,p,div,span,a{
  font-family: 'IBM Plex Sans';
  font-style: normal;
}

#sum-count {
  font-weight: 500;
}

.start-info {
  margin-bottom: 80px;
}

.info-box-container {
  text-align: left;
  margin-bottom: 40px;
}

.container-row{
  margin-left: 130px;
}

.title-container{
  margin-top: 40px;
  margin-bottom: 28px;
  text-align: left;
}

.info-box-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #E8E7DF;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
}

.showicon {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-left: -4px;
}

.columns:last-child:not(:first-child) {
  float: none !important;
} 

.info-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 60%;
  display: inline-block;;
}

.info-box-label{
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.info-box-row {
  margin-bottom: 15px;
}

.showMoreLink {
  margin-left: 3px;
}

.external-ref, .showMoreLink{
  color: #056643;
  text-decoration: none;
  border-bottom: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.external-ref:hover, .showMoreLink:hover{
  text-decoration: underline !important;
  border-bottom:  none !important;
  color: #0A5032;
}


@media screen and (max-width: 39.9375em) {
  .start-info {
    margin-bottom: 60px;
  }

  .info-box-container {
    text-align: left;
    margin-bottom: 20px;
  }

  .title-container{
    margin-top: 30px;
    margin-bottom: 28px;
    text-align: left;
  }
  
  .info-box-text{
    width: 50%;
  }

}