h3 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

h2,h3,p,div,span,a{
  font-family: 'IBM Plex Sans';
  font-style: normal;
}

#sum-count {
  font-weight: 500;
}

.info-box-container {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container-row{
  margin-left: 130px;
}

.title-container{
  margin-left: 121px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.info-box-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #E8E7DF;
  padding: 16px 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
}

.info-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.info-box-label{
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.info-box-row {
  margin-bottom: 15px;
}

.showMoreLink {
  margin-left: 3px;
}

.external-ref, .showMoreLink{
  font-weight: 500;
  color: #0F5C5A;
  text-decoration: none;
  border-bottom: none;
  font-size: smaller;
}

.external-ref:hover, .showMoreLink:hover{
  color: #ffae00;
  border-bottom: 1px solid #ffae00;
}
