h2 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 25px;
}

ul {
  padding-left: 15px;
}

li {
  margin-bottom: 10px;
}

.docs-row {
  max-width: 100%;
}

.docs-row {
  margin-top: 45px;
}

.docs-text {
  font-size: 18px;
}

#welcome-text p {
  font-size: 32px;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 300;
}

.docs-text {
  float: left !important;
}

.docs-text a {
  text-decoration: none;
  border-bottom: none;
  color: #085F5C;
  font-weight: bold;
}

.docs-text a:hover {
  border-bottom: #ffae00 1px solid !important;
  color: #ffae00;
}

.no-left-padding {
  padding-left: 0 !important;
}

.infra-label {
  font-weight: bold;
  margin-top: 35px;
}
