h2 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  /* identical to box height, or 130% */

  display: flex;
  align-items: center;

  /* Neutral/900 */

  color: #1A1C1A;
}

ul {
  padding-left: 15px;
}

li {
  margin-bottom: 10px;
}


.intro-box {
  background-color: #C0DCDB;
}

.intro-content {
  font-size: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  /* or 130% */
  text-align: center;
  color: #000000;
  display: inline-block;
}

.heading1 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  /* Neutral/900 */
  color: #1A1C1A;
}

.text1 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1A1C1A;
  margin-left: 6px;
}

.text2 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  /* or 142% */
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: 6px;
}

.api-link {
  height: 39px;
  background: #397F7D;
  box-shadow: 10px 10px 0px #0F5C5A;
  padding: 8px 16px;
}

.see-link {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height, or 147% */
  display: flex;
  align-items: center;
  text-align: justify;
  /* Brand/800 */
  color: #056643;
  border-bottom-style: none;
  text-decoration: none;
}

.docs-row {
  margin-top: 45px;
}

.docs-text {
  font-size: 18px;
}

#welcome-text p {
  font-size: 32px;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 300;
}

.docs-text {
  float: left !important;
}

.docs-text a {
  text-decoration: none;
  border-bottom: #085F5C 1px solid !important;
  color: #085F5C;
  font-weight: bold;
}

.docs-text a:hover {
  border-bottom: #ffae00 2px solid !important;
  color: #ffae00;
}

.no-left-padding {
  padding-left: 0 !important;
}

.infra-label {
  font-weight: bold;
  margin-top: 35px;
}
