/* You can add global styles to this file, and also import other style files */

.masthead {
    background-color: rgb(87 187 45) !important;
}

/* .padding-small {
    padding: .5em 1em;
    font-size: .8rem;
    margin-bottom: 5px;
} */

.main-search {
    width: 100%;
    max-width: 600px;
    margin: 10px;
}

button:disabled, input:disabled {
    opacity: 0.5 !important;
}

a {
    text-decoration: none !important;
}

@media (max-width: 1000px){
  .protvistaCol1 {
    width: 30% !important;
  }
}

@media (max-width: 1070px){
  .protvistaCol1 {
    width: 38% !important;
  }
}

@media (min-width: 1200px){
  .protvistaCol1 {
    width: 25% !important;
  }
}
