.h2 {
  color: #ffae00 !important;
}

.molstar-container {
  float: left;
  height: 500px;
  margin-bottom: 15px;
  position: relative;
}

.viewer-row {
  margin-right: 15px !important;
  margin-left: 15px !important;
  max-width: unset !important;
}

.error-row {
  margin-top: 30px;
}

.warning-red {
  color: rgb(211, 74, 57);
}
