.h2 {
  color: #ffae00 !important;
}

.molstar-container {
  float: left;
  height: 500px;
  margin-bottom: 15px;
  position: relative;
}

.info-box-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #E8E7DF;
  padding: 16px 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
}
.viewer-row {
  margin-right: 15px !important;
  max-width: unset !important;
}

.title-container{
  text-align: left;
}

.last-container{
  margin-bottom: 52px;
}

.error-row {
  margin-top: 30px;
}

.warning-red {
  color: rgb(211, 74, 57);
}

.progress-text1 {
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
}

.progress-text2 {
  margin-top: 38px;
  font-size: 21px;
  font-weight: 500;
  line-height: 27.3px;
}

.progress-text3 {
  display: flex;
  word-break: break-all;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.6px;
}

.progress-text4 {
  word-break: break-all;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.6px;
}

.progress-text5 {
  word-break: break-all;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.6px;
}

.subtitle-heading {
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
  font-size: 16px;
}

.error-container {
  margin-top: 32px;
  margin-bottom: 83px;
}

.mobile-view-copy{
  float:right;
  display:none;
}
