p,div,li,ul,a,span,button,label{
  font-family: 'IBM Plex Sans';
  font-style: normal;
}

a{
  text-decoration: none;
  border-bottom: none !important;
  color:#056643;
}

a:hover {
  border-bottom: none;
  text-decoration: underline !important;
  color: #0A5032;
}

.home-row {
  margin-top: 40px;
  margin-bottom: 80px;
}

.intro-box {
  background-color: #C0DCDB;
}

.intro-content {
  font-size: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
  font-weight: 500;
  line-height: 39px;
  /* or 130% */
  text-align: center;
  color: #000000;
  display: inline-block;
}

.heading1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  /* Neutral/900 */
  color: #1A1C1A;
}

.text1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1A1C1A;
  margin-left: 6px;
}

.text2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  /* or 142% */
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: 6px;
}

.api-link {
  height: 39px;
  background: #397F7D;
  box-shadow: 10px 10px 0px #0F5C5A;
  padding: 8px 16px;
}

.vf-button--secondary {
  height: 39px;
  background: #397F7D;
  padding: 5px 16px 8px 16px;
  border: 1px solid #397F7D;
  color: #ffffff;
  --vf-button-shadow-border-color: #0F5C5A;
  --vf-button-shadow-background-color: #0F5C5A;
}

.vf-button__text{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.see-link {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #056643;
}

.see-link:hover {
  color: #0a5032;
  text-decoration: underline !important;
}

.button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.home-text {
  float: left !important;
  font-size: 18px;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

.home-text a {
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
}

.home-text a:hover {
  border-bottom: none;
  text-decoration: underline;
  color: #0A5032;
}

.no-left-padding {
  padding-left: 0 !important;
}

.case-study-p{
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  /* or 142% */
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: 6px;
  margin-top: 4px;
}



.case-study-div {
  margin-bottom: 30px;
}

.info-section {
  margin-top: 100px;
}

.info-section:last-child {
  margin-bottom: 80px;
}

.first-section {
  margin-top: 80px;
  margin-bottom: 60px;
}

.info-section h3 {
  border-left: 3px solid #085F5C;
  padding-left: 16px;
  font-weight: bold;
  font-size: 42px;
  margin:0 0 40px 0;
}

.info-section .large-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 40px;
}

.info-section .normal-text {
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
}

.info-section .img-caption {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1A1C1A;
  text-align: left !important;
}

.info-section a, .img-caption a, .faq-link a {
  text-decoration-line: none;
  border-bottom: none;
  color: #056643 !important;
}

.info-section a:hover, .img-caption a:hover, .faq-link a:hover {
  text-decoration-line: underline;
  border-bottom: none;
  color: #0A5032 !important;
}

.info-section-row-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ex-img {
  margin-bottom: 15px;
}

@media screen and (max-width: 39.9375em) {
  .home-row {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media (min-width: 40em) and ((max-width: 49em) or (max-width: 51.25em)) {
  .info-content{
    width: 100%;
  }
  .medium-push-6{
    position: inherit;
    left: 0;
  }
  .medium-pull-6 {
    position: inherit;
    float: none !important;
  }
  .medium-6 {
    width: 98%;
  }
}
