h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 25px;
}


#welcome-text {
  background-color: #C0DCDB;
}

.home-row, .welcome-row {
  max-width: 100%;
}

.home-row {
  margin-top: 45px;
}

#welcome-text p {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 300;
}

.home-text {
  float: left !important;
  font-size: 18px;
}

.home-text a {
  text-decoration: none;
  border-bottom: #085F5C 1px solid !important;;
  color: #085F5C;
  font-weight: bold;
}

.home-text a:hover {
  border-bottom: #ffae00 2px solid !important;
  color: #ffae00;
}

.no-left-padding {
  padding-left: 0 !important;
}
