<div id="welcome-text" class="row welcome-row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <p>The 3D-Beacons Network provides unified programmatic access to experimentally determined and predicted structure
      models.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>What are 3D-Beacons?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>3D-Beacons is an open collaboration between providers of macromolecular structure models. This collaboration aims
      to provide model coordinates and meta-information from all the contributing data resources in a standardised data
      format, on a unified platform.</p>
    <p>All of the data provided is freely available for both academic and commercial use under Creative Commons
      Attribution 4.0 (CC-BY 4.0) license terms.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>How to use it?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>The main purpose of 3D-Beacons is to provide programmatic access to experimentally determined and theoretical
      protein structures.</p>
    <p>The <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api/" target="_blank">3D Beacons API</a>
      retrieves and combines data from member data providers, and returns the data in JSON format according to the
      <a href="https://github.com/3D-Beacons/3d-beacons-specifications/blob/production/oas3.yaml" target="_blank">3D-Beacons
        API specification</a>.
    </p>
    <p style="font-size: 1.25em;">
      <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api/" target="_blank">
        Try it out here <i class="icon icon-common" data-icon="&#xf0a9;"></i>
      </a>
    </p>
  </div>
</div>


<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>How does it work?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>The 3D-Beacons Network consists of a Registry, a Hub and data providers who host Clients. The
      <a href="https://github.com/3D-Beacons/3d-beacons-hub-api" target="_blank">3D-Beacons
        Hub</a> uses the <a href="https://github.com/3D-Beacons/3d-beacons-registry" target="_blank">
        3D-Beacons Registry</a> to look up which
      <a href="https://github.com/3D-Beacons/3d-beacons-client" target="_blank">3D-Beacon Client</a>
      supports what API endpoints. The Beacons provide data according to the
      <a href="https://github.com/3D-Beacons/3d-beacons-specifications/blob/production/oas3.yaml" target="_blank">
        3D-Beacons data specifications</a>. The Hub collates the data from
      the Beacons and exposes it via Hub API endpoints.</p>
    <p>
      <a routerLink="/docs" style="font-size: 1.25em;">
        See the Documentation page for more details
        <i class="icon icon-common" data-icon="&#xf0a9;"></i>
      </a>
    </p>
  </div>
</div>

<div class="row home-row">
  <div class="large-5 large-offset-5 medium-10 medium-offset-1 small-12 columns">
    <img src="./assets/img/overview.png" alt="overview of the 3d-beacons infrastructure">
  </div>
</div>

<div class="row home-row" style="padding-top: 20px;">
  <div class="large-10 large-offset-2 medium-offset-1 medium-11 small-12 home-text-title columns">
    <h2 style="margin-bottom: 50px;">Case studies of integrating 3D-Beacons</h2>
  </div>
  <div class="large-offset-2 large-4 medium-offset-1 medium-5 small-12 home-text columns case-study-div">
    <a href="https://www.jalview.org/" target="_blank" style="font-size: 1.25em;">Jalview</a>
    <p class="case-study-p">
      3D Beacons allows users of the <a href="https://www.jalview.org/" target="_blank">Jalview workbench for multiple
      sequence alignment and analysis</a> to discover 3D models for alignments of proteins from Uniprot and place them
      in context of genetic variation from Ensembl. Its capabilities also include visualisation of local model quality
      scores (including method specific quantities such as pLDDT) and sequence alignment based superimposition of
      structures with Jmol, UCSF Chimera/X and Pymol.
      <br><br>
      For more information see <a
      href="https://www.jalview.org/help/html/features/structurechooser.html#3dbeaconssearch" target="_blank">Jalview's
      3D Beacons search documentation</a>. The Jalview application is available for a variety of platforms and can also
      be run <a href="https://www.jalview.org/jalview-js">in the browser</a>.
    </p>
    <div class="small-12 columns">
      <a href="https://www.jalview.org/" target="_blank">
        <img src="./assets/img/jalview-example.png" alt="example of how Jalview integrated 3D-Beacons">
      </a>
    </div>
  </div>
  <div class="large-4 medium-5 small-12 home-text columns case-study-div">
    <a href="https://pdbe-kb.org" target="_blank" style="font-size: 1.25em;">PDBe-KB</a>
    <p class="case-study-p">
      The <a href="https://pdbe-kb.org" target="_blank">Protein Data Bank in Europe - Knowledge Base (PDBe-KB)</a>
      relies on the 3D-Beacons Hub API to display all the experimentally determined and theoretical structures for
      proteins of interest (<a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/P38398/structures" target="_blank">example</a>).
      The so-called "aggregated views of proteins" pages of PDBe-KB collate all the available structural data from the
      PDB and place these structures in the context of their functional, biophysical and biochemical annotations
      provided by partner data resources. The integration of the 3D-Beacons Hub API allows us to display these
      annotations concerning theoretical models and the experimentally determined structures.
    </p>
    <div class="small-12 columns">
      <a href="https://pdbe-kb.org" target="_blank">
        <img src="./assets/img/pdbe-kb-example-alt.png" alt="example of how the PDBe-KB integrated 3D-Beacons">
      </a>
    </div>
  </div>
  <div class="large-offset-2 large-4 medium-offset-1 medium-5 small-12 home-text columns case-study-div">
    <a href="https://swissmodel.expasy.org/repository" target="_blank" style="font-size: 1.25em;">SWISS-MODEL
      Repository</a>
    <p class="case-study-p">
      The <a href="https://swissmodel.expasy.org/repository" target="_blank">SWISS-MODEL Repository (SMR)</a> takes
      advantage of the 3D-Beacons API to fetch models from the AlphaFoldDB and ModelArchive for display in addition to
      homology models from SWISS-MODEL and experimental structures from the PDB (<a
      href="https://swissmodel.expasy.org/repository/uniprot/P53742?model=ma-bak-cepc-0746" target="_blank">example</a>).
      Within SMR, the models are displayed with a consistent colouring for model confidence to compare homology with
      AlphaFold models and structures can be further assessed with <a href="https://swissmodel.expasy.org/assess/help"
                                                                      target="_blank">other metrics</a>. Furthermore,
      SMR includes sequence based annotations which can be visualised on the structures and enables the <a
      href="https://swissmodel.expasy.org/comparison/help" target="_blank">comparison of multiple structures</a>.
    </p>
    <div class="small-12 columns">
      <a href="https://swissmodel.expasy.org/repository" target="_blank">
        <img src="./assets/img/swiss-model-example.png"
             alt="example of how the SWISS-MODEL Repository integrated 3D-Beacons">
      </a>
    </div>
  </div>
</div>

<app-providers></app-providers>

