<div id="welcome-text" class="row welcome-row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <p>The 3D-Beacons Network provides unified programmatic access to experimentally determined and predicted structure
      models.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>What are 3D-Beacons?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>3D-Beacons is an open collaboration between providers of macromolecular structure models. This collaboration aims
      to provide model coordinates and meta-information from all the contributing data resources in a standardised data
      format and unified platform.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>How does it work?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>The 3D-Beacons Network consists of a Registry, a Hub and data providers who host Clients. The <a>3D-Beacons
      Hub</a> uses the <a>3D-Beacons Registry</a> to look up which <a>3D-Beacon Client</a> supports what API endpoints.
      The Beacons provide data according to the <a>3D-Beacons data specifications</a>. The Hub collates the data from
      the Beacons and exposes it via Hub API endpoints.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-5 large-offset-5 medium-10 medium-offset-1 small-12 columns">
    <img src="./assets/img/overview-greyblue.png" alt="overview of the 3d-beacons infrastructure">
  </div>
</div>

<app-providers></app-providers>

