h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 25px;
}


#welcome-text {
  background-color: #C0DCDB;
}

.home-row, .welcome-row {
  max-width: 100%;
}

.home-row {
  margin-top: 45px;
}

.heading1 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  /* Neutral/900 */
  color: #1A1C1A;
}

.text1 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1A1C1A;
  margin-left: 6px;
}

.text2 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  /* or 142% */
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: 6px;
}

#welcome-text .text-span {
  font-size: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  /* or 130% */
  text-align: center;
  color: #000000;
  display: inline-block;
}

.home-text {
  float: left !important;
  font-size: 18px;
}

.home-text a {
  text-decoration: none;
  border-bottom: #085F5C 1px solid !important;;
  color: #085F5C;
  font-weight: bold;
}

.home-text a:hover {
  border-bottom: #ffae00 2px solid !important;
  color: #ffae00;
}

.no-left-padding {
  padding-left: 0 !important;
}

.case-study-p {
  margin-bottom: 50px;
  margin-top: 15px;
}

.case-study-div {
  margin-bottom: 50px;
}
