<div id="welcome-text" class="row welcome-row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <p>The 3D-Beacons Network provides unified programmatic access to experimentally determined and predicted structure
      models.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>What are 3D-Beacons?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>3D-Beacons is an open collaboration between providers of macromolecular structure models. This collaboration aims
      to provide model coordinates and meta-information from all the contributing data resources in a standardised data
      format, on a unified platform.</p>
    <p>All of the data provided is freely available for both academic and commercial use under Creative Commons
      Attribution 4.0 (CC-BY 4.0) license terms.</p>
  </div>
</div>

<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>How to use it?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>The main purpose of 3D-Beacons is to provide programmatic access to experimentally determined and theoretical
      protein structures.</p>
    <p>The <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api/" target="_blank">3D Beacons API</a>
      retrieves and combines data from member data providers, and returns the data in JSON format according to the
      <a href="https://github.com/3D-Beacons/3d-beacons-specifications/blob/production/oas3.yaml" target="_blank">3D-Beacons API specification</a>.
    </p>
    <p style="font-size: 1.25em;">
      <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/api/" target="_blank">
        Try it out here <i class="icon icon-common" data-icon="&#xf0a9;"></i>
      </a>
    </p>
  </div>
</div>


<div class="row home-row">
  <div class="large-3 large-offset-2 medium-offset-1 medium-4 small-12 home-text-title columns">
    <h2>How does it work?</h2>
  </div>
  <div class="large-5 medium-6 small-12 home-text columns">
    <p>The 3D-Beacons Network consists of a Registry, a Hub and data providers who host Clients. The
      <a href="https://github.com/3D-Beacons/3d-beacons-hub-api" target="_blank">3D-Beacons
        Hub</a> uses the <a href="https://github.com/3D-Beacons/3d-beacons-registry" target="_blank">
        3D-Beacons Registry</a> to look up which
      <a href="https://github.com/3D-Beacons/3d-beacons-client" target="_blank">3D-Beacon Client</a>
      supports what API endpoints. The Beacons provide data according to the
      <a href="https://github.com/3D-Beacons/3d-beacons-specifications/blob/production/oas3.yaml" target="_blank">
        3D-Beacons data specifications</a>. The Hub collates the data from
      the Beacons and exposes it via Hub API endpoints.</p>
    <p>
      <a routerLink="/docs" style="font-size: 1.25em;">
        See the Documentation page for more details
        <i class="icon icon-common" data-icon="&#xf0a9;"></i>
      </a>
    </p>
  </div>
</div>

<div class="row home-row">
  <div class="large-5 large-offset-5 medium-10 medium-offset-1 small-12 columns">
    <img src="./assets/img/overview.png" alt="overview of the 3d-beacons infrastructure">
  </div>
</div>

<app-providers></app-providers>

